@import 'reset';

$sim-blue: #58b6e7;
$desktop-breakpoint: 1420px;
$mobile-stack: 720px;


html {
	font-family: Arial;
	font-weight: bold;
	background: $sim-blue;
	overflow-x: hidden;
}

@media (min-width: $mobile-stack) {
	.row {
		flex-flow: column wrap;
	}
}

.row { 
	position: relative;
	display: flex; 
	flex-flow: row wrap; 
	justify-content: center;
	align-items: flex-end;
	overflow: visible;
	background: $sim-blue;
	height: auto;

	.col-3-12 {
		flex: 1 0 15em;
	}
}

@media (min-width: $desktop-breakpoint) {
	.pageSection.parbase.section.character-blurb {
		margin-right: 12em;
	}
}



.pageSection {
	&.parbase {
		&.section {
			&.character-blurb {
				flex: 1 1 10em;
				margin-bottom: 5em;
				margin-left: -8em;
				border: solid black 3px;
				border-radius: 5px;
				transform: skewX(-5deg);
				box-shadow: 6px 6px 0px #b2b2b2;
				margin-top: 30%;

				p {
				padding: 1em;
				padding-left: 2.5em;
				transform: skewX(5deg);
				}
			}
		}
	}	
}

.par {
	&.parsys {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
	}
	
}

.parbase {
	&.imageRenditions {
		&.section {
			padding-right: -2em;
			flex: 1 0 10em;
			z-index: 1;
		}
	}

	&.image.section { 
		transform: scale(0.75,0.75);
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0.6;
	}
		
}


.row:before {
	flex: 1 0 10em;
	content: '';
	position: absolute;
	background: white;
	width: 100%;
	margin-top: 0; /*to fix flex*/
	top: 8em;
	bottom: -1em;
	border-bottom: solid #4386a9 24px;
}