/*styles.css*/

html {
	font-family: Arial;
	font-weight: bold;
	background: #58b6e7;
	overflow-x: hidden;
}

.row { 
	display: flex; 
	flex-flow: row wrap; 
	justify-content: center;
	overflow: visible;
	background: #58b6e7;
/*	border-style: solid;
	border-bottom: #4386a9;
	border-width: 24px;*/

} 

.row .col-3-12 {	
 	flex: 0 1 320px;
 	background: #FFFFFF;
	margin: 0 -20rem;
 	padding: 0.25rem 20rem;
}


.row:before {
	content: '';
	position: absolute;
	margin-left: -20rem;
	width: 200rem;
	height: 130px;
	background: #58b6e7;

}

.row:after {
	content: '';
	position: relative;
	margin-left: -100rem;
	width: 200rem;
	height: 24px;
	/*left: 100px;*/
	background: #4386a9;
}


.pageSection.parbase.section.character-blurb {
	flex: 1 10 10em;
	margin-left: -8em;
	border: solid black 3px;
	border-radius: 5px;
	transform: skewX(-5deg);
	box-shadow: 6px 6px 0px #b2b2b2;
	margin-top: 30%;
}

.pageSection.parbase.section.character-blurb p {
	padding-left: 3em;
	transform: skewX(5deg);
	/*width: auto;*/
}


.par.parsys { /*text blurb?*/
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

}


.parbase.imageRenditions.section { /*char images*/
	flex: 1 0 10em;	
	z-index: 1;

}

.parbase.image.section { /*fingerprint*/
	transform: scale(0.75,0.75);
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.6;
}




